@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
 
     
        <h1 class="display-4" ">Welcome to the Disaster Alleviation Foundation</h1>
    </div>

    <p class="mt-4">
        Welcome to the Disaster Alleviation Foundation, where each act of generosity brings hope and relief to communities in the face of adversity. At our core, we believe in the strength of collective compassion to make a lasting impact. Your support is a lifeline for those affected by disasters, providing not just aid but a chance at rebuilding lives.

        In the wake of calamities, every donation becomes a beacon of resilience. Whether big or small, your contribution empowers us to deliver essential resources, emergency aid, and long-term recovery solutions. Together, we can transform despair into hope and rebuild what has been lost.
    </p>

    <p class="mt-4">
        Every dollar you donate doesn't just fund projects; it helps restore faith, rebuild homes, and rekindle the spirit of communities. Join us in this journey to make a difference. Your generosity is a force for positive change, creating a ripple effect that reaches far beyond the immediate impact.

        Together, we can be the catalyst for recovery and renewal. Your donation is not just financial support; it's a commitment to rebuilding lives and fostering resilience. Thank you for considering Disaster Alleviation Foundation as your partner in making the world a better place. Let's stand united against disasters and bring hope to those who need it most.
    </p>
</div>

<style>
    .banner-image {
        width: 100%;
        max-height: 200px; /* Adjust the height as per your preference */
        object-fit: cover; /* This property ensures that the image retains its aspect ratio while covering the specified dimensions */
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
    }
</style>
