@{
    ViewData["Title"] = "Contact Us";
}

<style>
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .contact-info {
        max-width: 600px;
        width: 100%;
        text-align: center;
    }

        .contact-info p {
            margin-bottom: 20px;
        }
</style>

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="center-container">
    <div class="contact-info">
        <h2 class="text-center">Contact Information</h2>
        <p>
            <strong>Name:</strong> Sanchita Singh<br />
            <strong>Student ID:</strong> ST10097535<br />
            <strong>Organization:</strong> Disaster Alleviation Foundation<br />
            <strong>Project:</strong> Applied Programming Portfolio of Evidence
        </p>

       
    </div>
</div>
